<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
	<meta charset="UTF-8">
	<title>Controllers</title>
	<script src="angular.js"></script>
	<link href="bootstrap.css" rel="stylesheet" />
	<link href="bootstrap-theme.css" rel="stylesheet" />
	<script>
		angular.module("exampleApp", [])
		.controller("firstCtrl" , function($scope) {
			$scope.dataValue = "Hello, Alex";
			$scope.reverseText = function() {
				$scope.dataValue = $scope.dataValue.split("").reverse().join("");
			}

		})

		.controller("secondCtrl" , function($scope) {
			$scope.dataValue = "Hello, Gleb";
			$scope.changeCase = function() {
				$scope.dataValue = $scope.dataValue.toUpperCase();
			}

		});

	</script>
</head>
<body>
	<div class="well" ng-controller="firstCtrl">
		<h4>First child Controller</h4>
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="reverseText()">Reverse</button>	
			</span>
			<input class="form-control" ng-model="dataValue" />
		</div>
	</div>
	<div class="well" ng-controller="secondCtrl">
		<h4>Second child Controller</h4>
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="changeCase()">Case</button>	
			</span>
			<input class="form-control" ng-model="dataValue" />
		</div>
	</div>
	
</body>
</html>